.fa-bars{
    color:#cc0000;
}
.fa-file-pen{
    color:green;
}
.list-group-item a{
    color: black;
    text-decoration: none;
}
.fa-circle-check{
    color:green;
}
.dropdown-toggle{
    border:1px solid #ccc;
    width: 456px;
}
.red-button{
    background-color: #cc0000;
    color:white;
}