.wd-assignmentEditor svg.checkcircle{
    color:green;
}
.wd-assignmentEditor .dropdown{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width:300px
}
.wd-assignmentEditor .btn{
    border-radius: 0;
    background-color: #DCDCDC ;
    color:rgb(64,64,64)	;
    border: 0;
}
.wd-assignmentEditor .dropdown-toggle.btn-primary{
    border-radius: 0;
    background-color: #DCDCDC ;
    color:rgb(64,64,64)	;
    border: 0;
    margin-right: 10px;
}
.wd-assignmentEditor .red-button{
    background-color: #cc0000;
    color:white;
}


