.wd-assignment .list-group-item svg.filepen {
   color:green;
}
.wd-assignment .btn{
    border-radius: 0;
    background-color: #DCDCDC ;
    color:rgb(64,64,64)	;
    border: 0;
    margin-right: 10px;
}
.wd-assignment .red-button{
    background-color: #cc0000;
    color:white;
}