.wd-modulelist .list-group-item svg.checkcircle{
    color:green;
    margin-right:10px;
}
.module-list-nav #dropdown-basic-button{
   padding: 0;
}
.module-list-nav .dropdown{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.module-list-nav .btn{
    border-radius: 0;
    background-color: #DCDCDC ;
    color:rgb(64,64,64)	;
    border: 0;
    margin-right: 10px;
}
.module-list-nav .red-button{
    background-color: #cc0000;
    color:white;
}


.wd-modulelist .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.wd-modulelist .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.list-header{
    background-color: #f5f5f5;
    border: 1px solid #c7cdd1; 
    padding: 12px 6px;
    color: var(--ic-brand-font-color-dark);
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    border-left: none;
    border-right:none;
    border-top: none;

}

.wd-modulelist .list-group-item.link-list a{
    color:#cc0000;
}

.wd-modulelist .link-list a{
    color:#cc0000;
}




