 .wd-kanbas-navigation{
    background-color: black;
    list-style: none;
    padding:0px;
    width: 85px;

} 
.wd-kanbas-navigation li{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    text-align: center;
}
.wd-kanbas-navigation li a{
    color:white;
    text-decoration: none;
    text-align: center;
}
.wd-kanbas-navigation li a i{
    margin-right: 10px;
    color: #cc0000;    ;
    font-size: 1.5em;
    margin-bottom: 5px;
}
.wd-kanbas-navigation .account{
    color:grey
}

.wd-kanbas-navigation li.wd-active{
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a{
    color:red;
} 