
.wd-kanbas-navigation.list-group{
    background-color: black;
    list-style: none;
    padding:0px;
    width: 85px;
}
.wd-kanbas-navigation .list-group-item{
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    text-align: center;
    border:0px;
    color:white;
}
.wd-kanbas-navigation .list-group-item a{
    text-decoration: none;
    text-align: center;
}
.list-group-item.wd-active{
    background-color: white;
    color: #cc0000 ;
}
.wd-kanbas-navigation .wd-icon {
    font-size: 2em;
  }
.wd-kanbas-navigation svg {
    color:#cc0000 ;
} 
.wd-kanbas-navigation .account svg {
    color:grey;
} 


.wd-kanbas-navigation .account{
    color:grey
} 


.wd-kanbas-navigation li.wd-active a{
    color:#cc0000 ;
}  
.grey-icon svg{
    color:grey;
}
.wd-kanbas-navigation .list-group-item img{
    width:3rem;
}
